# **Lab0: Introducing R in Jupyter Notebook via Google Colabatory**

#### **Dylan Watson**

---

**IMPORTANT**: 
- Before starting the lab, save a copy to your google drive by navigating to `File > Save a copy in Drive` <br>
- Then rename the copied file `Lab#_LASTNAME_FIRSTNAME.ipynb` where # is the lab assignment number, LASTNAME is your last name, and FIRSTNAME is your first name.

<br>


**Instructions**: Complete the lab below.

- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---

We are able to interface with the R programming language using Jupyter Notebook in Google Colabatory! The following is a small tutorial designed to familiarize you with some basic R commands.

<br>

<br>

####<font color=red>Organized</font> (1 points)
* Answers should be organized in the following format for organization and readability

<br>

```
# 1. 
This will be the code block to answer the first part of a task
```

1. This will be the text answer/explanation (if prompted) for the first task

<br>

```
# 2. 
This will be the code block to answer the second part of a task in a separate code cell
```

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>

## Printing Strings <font color=red> (TASK) </font>

The small piece of code below is called a "script". The following script uses the `print` function to print the phrase "Hello World!".

Try running the following script by selecting the cell and pressing `Ctrl+Enter` on your keyboard. You may alternatively press the "play" button to the left of the cell.

In [1]:
print("Hello World!")

[1] "Hello World!"

### <font color=red> TASK: </font>

1. Create a code cell below this markdown cell
2. Use the `print` function to print your full name in the code cell you created

In [2]:
print("Dylan Troy Watson")

[1] "Dylan Troy Watson"

## Basic Mathematical Operations <font color=red> (TASK) </font>

R can be used as a calculator and perform basic mathematical operations.

- Run the following commands to use R as a calculator.

In [3]:
# addition
5 + 2

[1] 7

In [4]:
# subtraction
5 - 2

[1] 3

In [5]:
# multiplication
5 * 2

[1] 10

In [6]:
# division
5 / 2

[1] 2.5

In [7]:
# exponentiation
5 ^ 2

[1] 25

In [8]:
# order of operations
(5 + 2) / 2

[1] 3.5

### <font color=red> TASK: </font>

1. Create a code cell below this markdown cell
2. In the cell you created, find the value of the following mathematical expression, where a = 2, b = 5, c = 2
<h5><center>$\begin{align} \frac{-b + \sqrt{b^2 - 4ac}}{2a}\end{align}$</center></h5>

Hint: $\sqrt{25}$ is the same as $25^{0.5}$ <br>
Hint Hint: The answer should be -0.5

In [9]:
a <- 2
b <- 5
c <- 2
(-b + sqrt(b^2-4*a*c))/(2*a)

[1] -0.5

## Built-in Values and Functions

R contains built-in values and functions to make your life easier!

In [10]:
# pi
pi

[1] 3.141593

In [11]:
# Euler's number
exp(1)

[1] 2.718282

In [12]:
# Natural logarithm
log(exp(1))

[1] 1

In [13]:
# Log base 10
log10(10)

[1] 1

In [14]:
# square root function
sqrt(25)

[1] 5

## Variable Assignments

As in your algebra courses, you can assign values to a variable.

In [15]:
# assigns the number 5 to x
x <- 5
x

[1] 5

In [16]:
# adding 1 to x
x + 1

[1] 6

In [17]:
# more complicated expressions
x <- (x + 2) * log(3)
x

[1] 7.690286

In [18]:
# R is case sensitive
x <- 2
X <- 5
x
X

[1] 2

[1] 5

## Variable Naming Conventions <font color=red> (TASK) </font>

Variable names do not have to be a letter from the alphabet. In fact, it is better to name your variables something meaningful, especially when you start using many variables.

Keeping this in mind, there are a few rules when creating variable names:
- Variables names may not start with an underscore, number, or special character (e.g., *,^)
- Variables names may include underscores if located in the middle or end of the variable name
- Variable names may start with a period (.), but this is generally not recommended

In [19]:
# this is a valid variable name
valid.variable <- 5
valid.variable

[1] 5

In [20]:
# this is a valid variable name
valid_variable <- 5
print(valid_variable)

[1] 5

The cell below contains a variable name that is not valid. Why?

In [21]:
# this is NOT a valid variable name
5people <- 5

ERROR: Error in parse(text = x, srcfile = src): <text>:2:2: unexpected symbol
1: # this is NOT a valid variable name
2: 5people
    ^

The cell below contains a variable name that is not valid. Why?

Variable cannot start w/ a number.

In [22]:
# this is NOT a valid variable name
_people <- 5

ERROR: Error in parse(text = x, srcfile = src): <text>:2:2: unexpected symbol
1: # this is NOT a valid variable name
2: _people
    ^

Variable cannot start w/ an underscore.

### <font color=red> TASK: </font>

1. Create a code cell below this markdown cell
2. Assign the following values to variables: a = 2, b = 5, c = 2
3. In the cell you created, find the value of the following mathematical expression only using the variables a, b, c
<h5><center>$\begin{align} \frac{-b + \sqrt{b^2 - 4ac}}{2a}\end{align}$</center></h5>

Hint: $\sqrt{25}$ is the same as $25^{0.5}$ <br>
Hint Hint: The answer should be -0.5

In [23]:
a <- 2
b <- 5
c <- 2
(-b + sqrt(b^2-4*a*c))/(2*a)

[1] -0.5