# **Lab 2: Indexing and Subsetting (20 points)**

#### Dylan Watson

---

**IMPORTANT**:
- Before starting the lab, save a copy to your google drive by navigating to `File > Save a copy in Drive` <br>
- Then rename the copied file `Lab#_LASTNAME_FIRSTNAME.ipynb` where # is the lab assignment number, LASTNAME is your last name, and FIRSTNAME is your first name.

<br>


**Instructions**: Complete the lab below.

- <font color=red>Tasks</font> indicated in red must be completed to receive credit
- Include all code for your work
- Include markdown cells with written answers explaining your work when prompted
- **NOTE: Your completed lab must be submitted to Canvas as a .ipynb file by the end of the lab session**
---

<br>

<br>

####<font color=red>Organized</font> (1 points)
* Answers should be organized in the following format for organization and readability

<br>

```
# 1.
This will be the code block to answer the first part of a task
```

1. This will be the text answer/explanation (if prompted) for the first task

<br>

```
# 2.
This will be the code block to answer the second part of a task in a separate code cell
```

2. This will be the text answer/explanation (if prompted) for the second task

<br>

Continue this format for the remaining subtasks

<br>

---

<br>

####<font color=red>Task 1</font>  (1 points)

The code below loads and preprocesses the US Census data described in lecture
* Run the code cell
* View the first few rows using `head()` to ensure the data has been properly reformatted for analysis

In [1]:
# create url to census data
census_url <- url("https://www2.census.gov/programs-surveys/popest/tables/2010-2011/state/totals/nst-est2011-01.csv")

# load the census data into memory
census <- read.csv(census_url)

census
# remove unnecessary columns and rows
nb_row <- nrow(census)
census <- census[-c(1:8, (nb_row - 6):nb_row), -(6:10)]

# overwrite the column names using meaningful column names
names(census) <- c("state", "april2010census", "april2010base", "july2010pop", "july2011pop")

# remove periods from state names
census$state <- gsub('\\.', '', census$state)

# remove commas from populations and convert to numeric
census$april2010census <- as.numeric(gsub(',', '', census$april2010census))
census$april2010base <- as.numeric(gsub(',', '', census$april2010base))
census$july2010pop <- as.numeric(gsub(',', '', census$july2010pop))
census$july2011pop <- as.numeric(gsub(',', '', census$july2011pop))

# remove existing row names
rownames(census) <- NULL

   table.with.row.headers.in.column.A.and.column.headers.in.rows.3.through.4...leading.dots.indicate.sub.parts.
1  Table 1. Annual Estimates of the Population for the United States, Regions, States, and Puerto Rico:  April 1, 2010 to July 1, 2011
2  Geographic Area
3
4  United States
5  Northeast
6  Midwest
7  South
8  West
9  .Alabama
10 .Alaska
11 .Arizona
12 .Arkansas
13 .California
14 .Colorado
15 .Connecticut
16 .Delaware
17 .District of Columbia
18 .Florida
19 .Georgia
20 .Hawaii
21 .Idaho
22 .Illinois
23 .Indiana
24 .Iowa
25 .Kansas
26 .Kentucky
27 .Louisiana
28 .Maine
29 .Maryland
30 .Massachusetts
â‹®  â‹®
37 .Nevada
38 .New Hampshire
39 .New Jersey
40 .New Mexico
41 .New York
42 .North Carolina
43 .North Dakota
44 .Ohio
45 .Oklahoma
46 .Oregon
47 .Pennsylvania
48 .Rhode Island
49 .South Carolina
50 .South Dakota
51 .Tennessee
52 .Texas
53 .Utah
54 .Vermont
55 .Virginia
56 .Washington
57 .West Virginia
58 .Wisconsin
59 .Wyoming
60
61 Puerto Rico
62 Note: The April 1, 2010 Population Estimates base reflects changes to the Census 2010 population from geographic program revisions.  It does not reflect changes from the Count Question Resolution program.  See Geographic Terms and Definitions at http://www.census.gov/popest/about/geo/terms.html for a list of the states that are included in each region.
63 Suggested Citation:
64 Table 1. Annual Estimates of the Population for the United States, Regions, States, and Puerto Rico: April 1, 2010 to July 1, 2011 (NST-EST2011-01)
65 Source: U.S. Census Bureau, Population Division
66 Release Date: December 2011
   X             X.1            X.2                                 X.3
1
2  April 1, 2010                Population Estimates (as of July 1)
3  Census        Estimates Base 2010                                2011
4  308,745,538   308,745,538    309,330,219                         311,591,917
5  55,317,240    55,317,244     55,366,108                          55,521,598
6  66,927,001    66,926,987     66,976,458                          67,158,835
7  114,555,744   114,555,757    114,857,529                         116,046,736
8  71,945,553    71,945,550     72,130,124                          72,864,748
9  4,779,736     4,779,735      4,785,401                           4,802,740
10 710,231       710,231        714,146                             722,718
11 6,392,017     6,392,013      6,413,158                           6,482,505
12 2,915,918     2,915,921      2,921,588                           2,937,979
13 37,253,956    37,253,956     37,338,198                          37,691,912
14 5,029,196     5,029,196      5,047,692                           5,116,796
15 3,574,097     3,574,097      3,575,498                           3,580,709
16 897,934       897,934        899,792                             907,135
17 601,723       601,723        604,912                             617,996
18 18,801,310    18,801,311     18,838,613                          19,057,542
19 9,687,653     9,687,660      9,712,157                           9,815,210
20 1,360,301     1,360,301      1,363,359                           1,374,810
21 1,567,582     1,567,582      1,571,102                           1,584,985
22 12,830,632    12,830,632     12,841,980                          12,869,257
23 6,483,802     6,483,800      6,490,622                           6,516,922
24 3,046,355     3,046,350      3,050,202                           3,062,309
25 2,853,118     2,853,118      2,859,143                           2,871,238
26 4,339,367     4,339,362      4,347,223                           4,369,356
27 4,533,372     4,533,372      4,545,343                           4,574,836
28 1,328,361     1,328,361      1,327,379                           1,328,188
29 5,773,552     5,773,552      5,785,681                           5,828,289
30 6,547,629     6,547,629      6,555,466                           6,587,536
â‹®  â‹®             â‹®              â‹®                                   â‹®
37 2,700,551     2,700,551      2,704,283                           2,723,322
38 1,316,470     1,316,472      1,316,807                           1,318,194
39 8,791,894     8,791,894      8,799,593                           8,821,155
40 2,059,179     2,059,180      2,065,913                           2,082,224
41 19,378,102    19,378,104     19,395,206                          19,465,197
42 9,535,483     9,535,475      9,560,234                           9,656,401
43 672,591       672,591        674,629                             683,932
44 11,536,504    11,536,502     11,537,968                          11,544,951
45 3,751,351     3,751,354      3,760,184                           3,791,508
46 3,831,074     3,831,074      3,838,332                           3,871,859
47 12,702,379    12,702,379     12,717,722                          12,742,886
48 1,052,567     1,052,567      1,052,528                           1,051,302
49 4,625,364     4,625,364      4,637,106                           4,679,230
50 814,180       814,180        816,598                             824,082
51 6,346,105     6,346,110      6,357,436                           6,403,353
52 25,145,561    25,145,561     25,253,466                          25,674,681
53 2,763,885     2,763,885      2,775,479                           2,817,222
54 625,741       625,741        625,909                             626,431
55 8,001,024     8,001,030      8,023,953                           8,096,604
56 6,724,540     6,724,540      6,742,950                           6,830,038
57 1,852,994     1,852,996      1,854,368                           1,855,364
58 5,686,986     5,686,986      5,691,659                           5,711,767
59 563,626       563,626        564,554                             568,158
60
61 3,725,789     3,725,789      3,721,978                           3,706,690
62
63
64
65
66
   X.4 X.5 X.6 X.7 X.8
1  NA  NA  NA  NA  NA
2  NA  NA  NA  NA  NA
3  NA  NA  NA  NA  NA
4  NA  NA  NA  NA  NA
5  NA  NA  NA  NA  NA
6  NA  NA  NA  NA  NA
7  NA  NA  NA  NA  NA
8  NA  NA  NA  NA  NA
9  NA  NA  NA  NA  NA
10 NA  NA  NA  NA  NA
11 NA  NA  NA  NA  NA
12 NA  NA  NA  NA  NA
13 NA  NA  NA  NA  NA
14 NA  NA  NA  NA  NA
15 NA  NA  NA  NA  NA
16 NA  NA  NA  NA  NA
17 NA  NA  NA  NA  NA
18 NA  NA  NA  NA  NA
19 NA  NA  NA  NA  NA
20 NA  NA  NA  NA  NA
21 NA  NA  NA  NA  NA
22 NA  NA  NA  NA  NA
23 NA  NA  NA  NA  NA
24 NA  NA  NA  NA  NA
25 NA  NA  NA  NA  NA
26 NA  NA  NA  NA  NA
27 NA  NA  NA  NA  NA
28 NA  NA  NA  NA  NA
29 NA  NA  NA  NA  NA
30 NA  NA  NA  NA  NA
â‹®  â‹®   â‹®   â‹®   â‹®   â‹®
37 NA  NA  NA  NA  NA
38 NA  NA  NA  NA  NA
39 NA  NA  NA  NA  NA
40 NA  NA  NA  NA  NA
41 NA  NA  NA  NA  NA
42 NA  NA  NA  NA  NA
43 NA  NA  NA  NA  NA
44 NA  NA  NA  NA  NA
45 NA  NA  NA  NA  NA
46 NA  NA  NA  NA  NA
47 NA  NA  NA  NA  NA
48 NA  NA  NA  NA  NA
49 NA  NA  NA  NA  NA
50 NA  NA  NA  NA  NA
51 NA  NA  NA  NA  NA
52 NA  NA  NA  NA  NA
53 NA  NA  NA  NA  NA
54 NA  NA  NA  NA  NA
55 NA  NA  NA  NA  NA
56 NA  NA  NA  NA  NA
57 NA  NA  NA  NA  NA
58 NA  NA  NA  NA  NA
59 NA  NA  NA  NA  NA
60 NA  NA  NA  NA  NA
61 NA  NA  NA  NA  NA
62 NA  NA  NA  NA  NA
63 NA  NA  NA  NA  NA
64 NA  NA  NA  NA  NA
65 NA  NA  NA  NA  NA
66 NA  NA  NA  NA  NA

In [2]:
nb_row

[1] 66

In [3]:
# View the first few rows
head(census)

  state      april2010census april2010base july2010pop july2011pop
1 Alabama     4779736         4779735       4785401     4802740
2 Alaska       710231          710231        714146      722718
3 Arizona     6392017         6392013       6413158     6482505
4 Arkansas    2915918         2915921       2921588     2937979
5 California 37253956        37253956      37338198    37691912
6 Colorado    5029196         5029196       5047692     5116796

<br>

---

<br>

####<font color=red>Task 2</font>  (4 points)

Use R code to answer the following. Also answer in complete sentences using text boxes where relevant.

1. What is the average population across states in July 2010?
2. What is the average population across states in July 2011?
3. Was there an increase or decrease in the average population?

Hint: Use `mean()`

In [4]:
mean(census$july2010pop)
mean(census$july2011pop)

[1] 6065298

[1] 6109645

The mean pop of all states in the July 2010 and July 2011 censuses is 6.065 million and 6.109 million respectively. This shows that there was an increase in the mean population of all US states from the years 2010 to 2011.

<br>

---

<br>

####<font color=red>Task 3</font>  (2 points)
Use R code to answer the following. Also answer in complete sentences using text boxes where relevant.


1. What is the largest population in July 2010? [Hint: Use `max()`]

The function `which.max()` provides you with the index of the maximum. For example, the output of `which.max(c(99, 256, 48))` is 2 since the second entry of the vector, 256, is the maximum.
2. Use `which.max()` to find the state with the largest population.

In [5]:
max(census$july2010pop)
census$state[which.max(census$july2010pop)]

[1] 37338198

[1] "California"

The max population of the July 2010 census is the state of California with a pop value of 37.33 million.

<br>

---

<br>

####<font color=red>Task 4</font>  (2 points)

Use R code to answer the following. Also answer in complete sentences using text boxes where relevant.
1. Use `which.min()` to find the state with the smallest population in July 2010.
2. What is the population in this state?

In [6]:
min(census$july2010pop)
census$state[which.min(census$july2010pop)]

[1] 564554

[1] "Wyoming"

The min population of the July 2010 census is the state of Wyoming with a pop value of 564,554.

<br>

---

<br>

####<font color=red>Task 5</font>  (4 points)

The function `order()` returns the indexes of a sorted vector. For example, the output of `order(c(99, 256, 48))` is the vector `(3, 1, 2)` since the third number is the smallest (48), the first number is next (99), and the second number is the largest (256).

The example below shows how to sort a single vector:
```
x <- c(99, 256, 48)
x[order(x)]
```
<br>



1. Sort the dataframe `census` by population in July 2010 from smallest to largest and store as another dataframe called `census_sorted` <br>
Hint: `census[order(census$july2010pop), ]`
2. Show the first few lines of `census_sorted` to ensure it is correct
3. Inferring from the sorted dataframe, which areas of the US have the smallest populations? Why?
4. Inferring from the sorted dataframe, which areas of the US have the largest populations? Why?

In [7]:
census_sorted = census[order(census$july2010pop), ]
head(census_sorted)
tail(census_sorted)

   state                april2010census april2010base july2010pop july2011pop
51 Wyoming              563626          563626        564554      568158
9  District of Columbia 601723          601723        604912      617996
46 Vermont              625741          625741        625909      626431
35 North Dakota         672591          672591        674629      683932
2  Alaska               710231          710231        714146      722718
42 South Dakota         814180          814180        816598      824082

   state        april2010census april2010base july2010pop july2011pop
39 Pennsylvania 12702379        12702379      12717722    12742886
14 Illinois     12830632        12830632      12841980    12869257
10 Florida      18801310        18801311      18838613    19057542
33 New York     19378102        19378104      19395206    19465197
44 Texas        25145561        25145561      25253466    25674681
5  California   37253956        37253956      37338198    37691912

The states with the lowest populations are Wyoming, DC, Vermont, North Dakota, Alaska, and South Dakota. The states with the largest populations are California, Texas, New York, Florida, Illinois, Pennsylvania. From this we can observe that the states with the greatest populations are usually coastal states as natural resources and trade allow for large population centers and economies. The states with the lowest populations are usually interior land locked states or smaller states with fewer population centers and less trade.

<br>

---

<br>

####<font color=red>Task 6</font>  (2 points)

Use R code to answer the following. Also answer in complete sentences using text boxes where relevant.

1. Create a dataframe of states with populations between 1 and 2 million people in July 2010 and store as `census_1to2`.
2. Among states with populations between 1 and 2 million people, which state has the largest population? Use R code to answer this question. [Hint: `which.max()`]

Hint: `census$july2010pop > 1000000 & census$july2010pop < 2000000`

In [8]:
census_1to2 = census[census$july2010pop > 1000000 & census$july2010pop < 2000000, ]
census_1to2
census_1to2$state[which.max(census_1to2$july2010pop)]

   state         april2010census april2010base july2010pop july2011pop
12 Hawaii        1360301         1360301       1363359     1374810
13 Idaho         1567582         1567582       1571102     1584985
20 Maine         1328361         1328361       1327379     1328188
28 Nebraska      1826341         1826341       1830141     1842641
30 New Hampshire 1316470         1316472       1316807     1318194
40 Rhode Island  1052567         1052567       1052528     1051302
49 West Virginia 1852994         1852996       1854368     1855364

[1] "West Virginia"

The states with a population between 1 and 2 million in the July 2010 census are Hawaii, Idaho, Maine, Nebraska, New Hampshire, Rhode Island, and West Virginia. Among those states, the state with the greatest population is West Virginia at 1.854 million.

<br>

---

<br>

####<font color=red>Task 7</font>  (4 points)

Use R code to answer the following. Also answer in complete sentences using text boxes where relevant.

1. Calculate the difference in population for each state between 2010 and 2011. [Hint: population 2011 - population 2010]
2. Store as another variable called `pop_diff` in the `census` dataframe
3. How many states decreased in population between 2010 and 2011? (i.e. How many states have `pop_diff` less than 0?)
4. How many states had population increases less than 10,000 between 2010 and 2011? Hint: `pop_diff` greater than 0 and less than 10,000

In [9]:
census$pop_diff = census$july2011pop - census$july2010pop
head(census)
sum(census$pop_diff < 0)
sum(census$pop_diff > 0 & census$pop_diff < 10000)

  state      april2010census april2010base july2010pop july2011pop pop_diff
1 Alabama     4779736         4779735       4785401     4802740     17339
2 Alaska       710231          710231        714146      722718      8572
3 Arizona     6392017         6392013       6413158     6482505     69347
4 Arkansas    2915918         2915921       2921588     2937979     16391
5 California 37253956        37253956      37338198    37691912    353714
6 Colorado    5029196         5029196       5047692     5116796     69104

[1] 2

[1] 13

There are 2 states with population differences less than 0 and 13 states with population differences between 0 and 10,000.

In [10]:
# below is scratch

options(repr.matrix.max.rows=Inf, repr.matrix.max.cols=Inf)

dat <- data.frame(
  ID = 1:100,  # A column with IDs from 1 to 100
  Value1 = rnorm(100),  # A column with 100 random values from a normal distribution
  Value2 = runif(100)   # A column with 100 random values from a uniform distribution
)
dat[] <- lapply(dat, function(x) seq_along(x))

# Displaying the first few rows of the dataframe
dat

    ID  Value1 Value2
1     1   1      1
2     2   2      2
3     3   3      3
4     4   4      4
5     5   5      5
6     6   6      6
7     7   7      7
8     8   8      8
9     9   9      9
10   10  10     10
11   11  11     11
12   12  12     12
13   13  13     13
14   14  14     14
15   15  15     15
16   16  16     16
17   17  17     17
18   18  18     18
19   19  19     19
20   20  20     20
21   21  21     21
22   22  22     22
23   23  23     23
24   24  24     24
25   25  25     25
26   26  26     26
27   27  27     27
28   28  28     28
29   29  29     29
30   30  30     30
31   31  31     31
32   32  32     32
33   33  33     33
34   34  34     34
35   35  35     35
36   36  36     36
37   37  37     37
38   38  38     38
39   39  39     39
40   40  40     40
41   41  41     41
42   42  42     42
43   43  43     43
44   44  44     44
45   45  45     45
46   46  46     46
47   47  47     47
48   48  48     48
49   49  49     49
50   50  50     50
51   51  51     51
52   52  52     52
53   53  53     53
54   54  54     54
55   55  55     55
56   56  56     56
57   57  57     57
58   58  58     58
59   59  59     59
60   60  60     60
61   61  61     61
62   62  62     62
63   63  63     63
64   64  64     64
65   65  65     65
66   66  66     66
67   67  67     67
68   68  68     68
69   69  69     69
70   70  70     70
71   71  71     71
72   72  72     72
73   73  73     73
74   74  74     74
75   75  75     75
76   76  76     76
77   77  77     77
78   78  78     78
79   79  79     79
80   80  80     80
81   81  81     81
82   82  82     82
83   83  83     83
84   84  84     84
85   85  85     85
86   86  86     86
87   87  87     87
88   88  88     88
89   89  89     89
90   90  90     90
91   91  91     91
92   92  92     92
93   93  93     93
94   94  94     94
95   95  95     95
96   96  96     96
97   97  97     97
98   98  98     98
99   99  99     99
100 100 100    100

In [11]:
dat = dat[, -( (nrow(dat) / 2):(nrow(dat) / 2 + 1) )]
dat

    ID  Value1 Value2
1     1   1      1
2     2   2      2
3     3   3      3
4     4   4      4
5     5   5      5
6     6   6      6
7     7   7      7
8     8   8      8
9     9   9      9
10   10  10     10
11   11  11     11
12   12  12     12
13   13  13     13
14   14  14     14
15   15  15     15
16   16  16     16
17   17  17     17
18   18  18     18
19   19  19     19
20   20  20     20
21   21  21     21
22   22  22     22
23   23  23     23
24   24  24     24
25   25  25     25
26   26  26     26
27   27  27     27
28   28  28     28
29   29  29     29
30   30  30     30
31   31  31     31
32   32  32     32
33   33  33     33
34   34  34     34
35   35  35     35
36   36  36     36
37   37  37     37
38   38  38     38
39   39  39     39
40   40  40     40
41   41  41     41
42   42  42     42
43   43  43     43
44   44  44     44
45   45  45     45
46   46  46     46
47   47  47     47
48   48  48     48
49   49  49     49
50   50  50     50
51   51  51     51
52   52  52     52
53   53  53     53
54   54  54     54
55   55  55     55
56   56  56     56
57   57  57     57
58   58  58     58
59   59  59     59
60   60  60     60
61   61  61     61
62   62  62     62
63   63  63     63
64   64  64     64
65   65  65     65
66   66  66     66
67   67  67     67
68   68  68     68
69   69  69     69
70   70  70     70
71   71  71     71
72   72  72     72
73   73  73     73
74   74  74     74
75   75  75     75
76   76  76     76
77   77  77     77
78   78  78     78
79   79  79     79
80   80  80     80
81   81  81     81
82   82  82     82
83   83  83     83
84   84  84     84
85   85  85     85
86   86  86     86
87   87  87     87
88   88  88     88
89   89  89     89
90   90  90     90
91   91  91     91
92   92  92     92
93   93  93     93
94   94  94     94
95   95  95     95
96   96  96     96
97   97  97     97
98   98  98     98
99   99  99     99
100 100 100    100